<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.2.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.3.0" targetFramework="net472" />
  <package id="paper-ripple" version="1.0.0" targetFramework="net472" />
  <package id="paper-styles" version="1.0.3" targetFramework="net472" />
  <package id="polymer" version="1.0.0" targetFramework="net472" />
  <package id="polymer-iron-a11y-keys-behavior" version="1.0.0" targetFramework="net472" />
  <package id="polymer-iron-behaviors" version="1.0.1" targetFramework="net472" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net472" />
</packages>